$product-heading-base-font-sz: 1rem;
.product-heading {
  .principal-title {
    font-size: $product-heading-base-font-sz;
    @media #{map-get($display-breakpoints, 'sm-and-up')} {
      font-size: $product-heading-base-font-sz + 0.5rem !important;
    }

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      font-size: $product-heading-base-font-sz + 0.7rem !important;
    }

    @media #{map-get($display-breakpoints, 'lg-and-up')} {
      font-size: $product-heading-base-font-sz + 1rem !important;
    }
  }
}
