/* Predefined colors */
$primary-color: #fb8c00;
$secondary-color: #263238;
$tertiary-color: #263238;
$border-color: rgba(0, 0, 0, 0.3);

$primary-alpha-color: #ffca28;
$primary-betha-color: #ffecb3;

$secondary-alpha-color: #b0bec5;
$secondary-betha-color: #e0e0e0;

$tertiary-alpha-color: #263238;
$tertiary-betha-color: #cfd8dc;

$body-color: rgba(0, 0, 0, 0.08);
$body-color-border: rgba(0, 0, 0, 0.1);

/* override bootstrap */
$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "tertiary": $tertiary-color,
);
