.app-bar-margin-top-sidebar-open {
  margin-top: 16px !important;
  // margin-left: 256px !important;
}

$font-size: 0.8rem;
#app-bar-full{
  .v-toolbar__content, .v-toolbar__extension{
    padding: 0px 5px 0px 2px !important;

    .v-tab {
      font-size: $font-size !important;
    }
    .v-tabs:last-child {
      margin-right: 8px !important;
    }
    .v-tabs:first-child {
      margin-left: -48px !important;
    }
  }

  .v-btn {
    padding: 0px !important;
    font-size: $font-size;
    text-transform: none !important;
  }

}