.cant-input {
  min-width: 6rem;
  max-width: 8rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 3px 1px $border-color;
  display: flex;
  // padding: 0.5rem;
  justify-content: center;
  align-content: center;
  .cant {
    padding: 0.5rem 0 0.5rem 0;
  }
  .ci-button {
    cursor: pointer;
    min-width: 30%;
    &:hover {
      background-color: $primary-color;
      color: white;
    }
  }
  .ci-button-plus {
    border-radius: 0 1rem 1rem 0;
  }
  .ci-button-minus {
    border-radius: 1rem 0 0 1rem;
  }
}
