.categories-slider {
  .categories-slider-item{
    text-align: center;
    align-content: center;
    padding: 1rem;
    cursor: pointer;
    &:hover{
      background-color:$body-color;
    }
  }

  .slick {
    position: relative;

    .slick-prev {
      left: 15px !important;
      z-index: 3;
      &:before{
        color: $secondary-color !important;
      }
    }
    .slick-next {
      right: 15px !important;
      z-index: 3;
      &:before{
       color: $secondary-color !important;
      }
    }
  }

  .slick-dots {
    bottom: -10px !important;
    z-index: 3;
  }
}