.product-widget {
  .badge-offer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-color;
    z-index: 2;
  }

  .bdge-edit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
