$button-size: 1.5rem;
.slick {
  position: relative;
  padding: 1rem 1rem 3rem 1rem;

  .slick-prev {
    left: 15px !important;
    z-index: 3;
    &:before{
      font-size: $button-size;
      color: $secondary-color !important;
    }
  }
  .slick-next {
    right: 15px !important;
    z-index: 3;
    &:before{
      font-size: $button-size;
      color: $secondary-color !important;
    }
  }
}

.slick-dots {
  bottom: 1rem !important;
  z-index: 3;
}

.categories-slider-item{
  text-align: center;
  align-content: center;
  padding: 0.5rem;
  cursor: pointer;
  &:hover{
    background-color:$body-color-border;
  }
}
