.v-application {
  font-family: "Arial", Gadget, sans-serif;
  word-break: normal !important;
  overflow-wrap: normal !important;
}
* {
  word-break: normal !important;
  overflow-wrap: normal !important;
}
