$table-border-width: 1px;
$table-border-color: #dee2e6;

.cursor-pointer {
  cursor: pointer;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge-offer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-color;
  z-index: 2;
}
.box-selector {
  border: solid 1px $border-color;
  &:hover {
    box-shadow: 1px 2px 10px $secondary-color;
  }
}

@for $value from 1rem through 100rem {
  .w-#{$value} {
    max-width: #{$value}rem;
  }
}

@for $value from 1rem through 100rem {
  .h-#{$value} {
    height: #{$value}rem;
  }
}

.full-width {
  width: 100%;
}

.fit-width {
  width: fit-content;
}

// tables
.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: 2 * $table-border-width;
    }
  }
}

.table-borderless {
  th,
  td,
  thead th,
  tbody + tbody {
    border: 0;
  }
}
