footer.footer-main {
  .links {
    .v-list {
      padding: 0;
      .v-list-item--link {
        min-height: 32px;

        @include hover {
          color: white !important;
        }

        &:before {
          background-color: transparent;
        }

        .v-list-item__content {
          padding: {
            top: 3px;
            bottom: 3px;
          }
          .v-list-item__title {
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
}
