#app-content {
  .min-main-content {
    min-height: 600px;
  }

  .view-container {
    margin-top: 8.5rem;

    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      margin-top: 8.5rem;
    }

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      margin-top: 6.5rem;
    }
  }
}
