#app-content {
  .min-main-content {
    min-height: 600px;
  }

  margin-top: 6.5rem;

  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    margin-top: 7.5rem;
  }

  @media #{map-get($display-breakpoints, 'md-and-up')} {
    margin-top: 4.5rem;
  }
}
