.pack-card-widget {
  $border-color: rgba(0, 0, 0, 0.12);
  .pack-image-container {
    border: solid 1px $border-color;
    // background-color: $border-color;
    border-radius: 10%;
  }
  .row {
    border-radius: 10%;
    border: solid 1px $border-color;
    background-color: $border-color;
    .col {
      @media #{map-get($display-breakpoints, 'sm-and-up')} {
        padding: 1px !important;
      }
    }
  }
}
