.product-base-widget {
  padding: {
    bottom: 4px;
  }
  .v-card__title,
  .v-card__text {
    padding: {
      top: 4px;
      bottom: 4px;
    }
  }
}

// Custom Widgets
.product-simple-base-widget {
  .v-card__title {
    padding: {
      top: 8px;
      bottom: 8px;
    }
  }
}
