@import "~vuetify/src/styles/settings/_variables";

/* Predefined colors */
$primary-color:#FF9100;
$secondary-color:#263238;
$tertiary-color:#FFD740;

$body-color: rgba(0,0,0,0.08);
$body-color-border: rgba(0,0,0,0.1);