#app-content {
  .min-main-content {
    min-height: 600px;
  }

  .view-container {
    padding-bottom: 0.5rem;

    @media #{map-get($display-breakpoints, 'xs-only')} {
      margin-top: 8.6rem;
    }

    @media #{map-get($display-breakpoints, 'sm-only')} {
      margin-top: 9.7rem;
    }

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      margin-top: 6.7rem;
    }
  }
}
